<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Recordatorio_de_Almuerzo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Recordatorio_de_Almuerzo.Properties.Settings>
            <setting name="NotificacionNativa" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MostrarDiasMin" serializeAs="String">
                <value />
            </setting>
            <setting name="MostrarDiasMax" serializeAs="String">
                <value />
            </setting>
            <setting name="CorreoRecordatoio" serializeAs="String">
                <value />
            </setting>
            <setting name="EnviarCorreoRecordatorio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificacionCorreo" serializeAs="String">
                <value>False</value>
            </setting>
        </Recordatorio_de_Almuerzo.Properties.Settings>
    </userSettings>
</configuration>